<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi There</title>
</head>
<body>
    <h1>Hi There!</h1>

    @{
        var StringList = new List<string>
        {
            "Dog",
            "Cat",
            "Horse",
            "Donkey",
            "Walrus"
        };

        foreach(var word in StringList)
        {
            if(word.Substring(0, 1) == "C")
            {
                <h3 style="color: red">@word</h3>
            } 
            else 
            {
                <h3>@word</h3>
            }
            
        }
        
    }
</body>
</html>