<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <h1 class="blue">Home</h1>
    <div class="form-div">
        <form action="SubmitInfo" method="post" class="form-items">
            <label>Your Name:</label>
            <input type="text" name="YourName" />
            <label>Dojo Location:</label>
            <select type="select" name="Location">
                @{
                    for(int i = 0; i < ViewBag.locations.Length; i++)
                    {
                        <option>@ViewBag.locations[i]</option>
                    }
                }
            </select>
            <label>Favorite Language:</label>
            <select type="select" name="Language" >
                @{
                    for(int j = 0; j < ViewBag.languages.Length; j++)
                    {
                        <option>@ViewBag.languages[j]</option>
                    }
                }
            </select>
            <label>Comment:</label>
            <input type="textarea" name="Comment" rows="4" cols="50" />
            <input type="submit" name="submit-button" value="Submit" />
        </form>
    </div>
</body>
</html>