<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="~/css/syles.css" />
</head>
<body>
    <h2>@ViewBag.YourInfo["name"]</h2>
    <h2>@ViewBag.YourInfo["yourLocation"]</h2>
    <h2>@ViewBag.YourInfo["favoriteLanguage"]</h2>
    <h2>@ViewBag.YourInfo["yourComment"]</h2>
    <a href="/">
        <button type="button">
            Go Back
        </button>
    </a>
</body>
</html>