@using ViewModelFun.Models
@model List<User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/users">Users</a></p>
    
</div>
