@using ViewModelFun.Models
@model List<Users>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/users">Users</a></p>
    <p><a href="/user">User</a></p>    
    <p><a href="/numbers">Numbers</a></p> 
    <p><a href="/message">Message</a></p> 
</div>
